@model EBuy.Models.Auction

@{
    ViewBag.Title = "Details";
}
<h2>@Html.DisplayFor(x => x.Id)</h2>
<h2>@Html.DisplayFor(x => x.Title)</h2>
<h2>@Html.DisplayFor(x => x.Description)</h2>
<h2>@Html.DisplayFor(x => x.EndTime)</h2>
